.notifier {
  display: flex; align-items: center; justify-content: flex-end;
  padding: 0 20px;
  height: 90px;

  background-color: black;
}

// ...
.widget {
  position: relative;
}
.square {
  position: absolute; right: 0;
  background-color: $brand-darker-blue;
  width: 36px; height: 36px;
  z-index: 100;
}

.notifications {
  margin-right: 36px;
}

.bar {
  display: inline-block;
  padding: 0 12px 0 8px;

  background: #fff;
  color: black;
  font-size: 14px;
  line-height: 36px;
  text-transform: uppercase;
}
.type {
  margin-right: 8px;
  padding: 4px 6px 3px;

  background: black;
  border-radius: 2px;
  color: white;
  font-size: 12px;
  font-weight: 800;
  line-height: 22px;
}
.username {
  margin-right: 6px;
}
