@import "variables";

* { box-sizing: border-box; }

body {
  margin: 0;
  color: #fff;
  font-family: 'ff-dagny-web-pro';
  font-weight: 400;
  font-style: normal; }
a {
  color: #4A90E2;
  text-decoration: none; }
p {
  margin: 0;
}

// Components.
@import "chat";
