* { box-sizing: border-box; }

body {
  color: #fff;
  font-family: 'Gotham SSm A', 'Gotham SSm B';
  font-weight: 400;
  font-style: normal; }
a {
  color: #4A90E2;
  text-decoration: none; }

// .chat-related styles.
// Styling for chat structure, etc.
.chat {
  padding: 0 20px;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  overflow: hidden; }
.chat-list {
  height: 100%;
  overflow-y: scroll; }
.chat-list, .chatter-roles {
  margin: 0;
  padding: 0;
  list-style: none; }
.chat-line {
  display: flex;
  opacity: 0.6;
  position: relative; top: 0;
  transition: all 250ms ease-in;

  &.hidden {
    opacity: 0;
    top: 4px; }
}

.chat-list li:not(.hidden) {
  &:nth-last-of-type(8) { opacity: 0.65; }
  &:nth-last-of-type(7) { opacity: 0.70; }
  &:nth-last-of-type(6) { opacity: 0.75; }
  &:nth-last-of-type(5) { opacity: 0.80; }
  &:nth-last-of-type(4) { opacity: 0.85; }
  &:nth-last-of-type(3) { opacity: 0.90; }
  &:nth-last-of-type(2) { opacity: 0.95; }
  &:nth-last-of-type(1) { opacity: 1.00; }
}

.line {
  flex: 1;
  opacity: 1.0;

  font-size: 12px;
  line-height: 26px;
  text-shadow: 0 1px 2px #111;
  transition: all 250ms ease-in; }
.line.purged { opacity: 0.5; }

// .chatter-related styles.
.chatter { color: #fff; }
.chatter-roles {
  height: 26px;
  margin-left: 10px;
}
.chatter-role {
  display: inline-block;
  margin-left: -3px;
  width: 18px; height: 26px;

  background-position: center center;
  background-repeat: no-repeat;

  &.role-admin { background-image: url('/images/role-admin.png'); }
  &.role-moderator { background-image: url('/images/role-moderator.png'); }
  &.role-staff { background-image: url('/images/role-staff.png'); }
  &.role-turbo { background-image: url('/images/role-turbo.png'); }
}

// .message-related styles.
.message { overflow-wrap: break-word; }
.timestamp { display: none }

.emoticon {
  display: inline-block;
  vertical-align: middle;

  background-position: center center;
  background-repeat: no-repeat; }

// Special user-related styles.
[data-username="avalonstar"] {
  .role-admin { display: none; }
}

// A last resort kinda thing.
.notification {
  padding: 8px;
  position: absolute; top: 0;
  width: 100%;
  z-index: 100;

  border: 1px solid #333;
  border-radius: 2px;
  background: rgba(#000, 0.9);
  font-size: 12px;
}
