{{{styleEmoticons}}}

<div class="notification">
  My chat overlay is acting up. If you can't see your messages, I apologize! Emotes are currently not being recognized either. :(
</div>
<ul class="chat-list">
  {{each itemView='chat-message'}}
</ul>
