{{{styleEmoticons}}}

<div class="notification">
  My chat overlay is acting up. Emotes are not being recognized at the moment. :(
</div>
<ul class="chat-list">
  {{each itemView='chat-message'}}
</ul>
